/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Quicksand:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-family: 'Croissant One', serif;
    font-size: 18px;
}

body {
    background-color: #dac4f7;
    color: #000;
    font-size: 16px;
    height: 100%;
    padding-left: 10px;
    padding-right: 	10px;
}

.logo-img {
    opacity: 0.8;
    width: 150px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container,
.footer {
    letter-spacing: 1px;
    text-align: center;
}

.question-text, 
.options {
    display: inline-block;
    text-align: left;
}

.options {
    padding-top: 5px;
}

.question-content {
    padding-top: 10px;
    padding-bottom: 10px;
}

.control-buttons,
.footer {
    padding-bottom: 10px;
}

.button {
    color: #fff;
    border: none;
    font-size: 16px;
    padding: 5px;
}

#previous, 
#next {
    background-color: #237b62;
    width: 40%;
}

#submit {
    background-color: #a1045a;
    width: 40%;
    padding-bottom: 5px;
}

#restart {
    background-color: #000;
    width: 40%;
    padding-bottom: 5px;
}

#score {
    background-color: #fff;
    color: #a1045a;
    padding-left: 10px;
}

.div-choices:hover {
    background-color: #4fce61;
}

/* The code below is from stack overflow */ 
#previous:hover,
#next:hover,
#submit:hover {
    background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}

#restart:hover {
    background-color: #333333;
}

@media screen and (min-width:550px) {
    h1 {
        font-size: 20px;
    }
    
    body {
        font-size: 18px;
    }

    .logo-img {
        width: 200px;
        height: 150px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (min-width:700px) {
    h1 {
        font-size: 26px;
    }
    
    body {
        font-size: 24px;
    }

    .button {
        font-size: 20px;
    }

    .logo-img {
        width: 300px;
        height: 200px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .question-content {
        padding-top: 10px;
    }

    .options {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #next,
    #previous,
    #restart,
    #submit {
        padding: 10px;
    }
}

@media screen and (min-width:900px) {
    h1 {
        font-size: 28px;
    }
    
    body {
        font-size: 26px;
    }

    input[type='radio'] {
        width: 20px;
        height: 20px;
    }

    .button {
        font-size: 22px;
    }
    
    .logo-img {
        width: 300px;
        height: 200px;
    }
    
    .question-content {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .options {
        padding-top: 5px;
    }
}

@media screen and (min-height:664px) {
    h1 {
        font-size: 26px;
    }
    
    body {
        font-size: 24px;
    }

    input[type='radio'] {
        width: 16px;
        height: 16px;
    }

    .button {
        font-size: 20px;
    }

    .logo-img {
        width: 300px;
        height: 200px;
        padding-top: 10px;
    }

    .question-content {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media screen and (min-height:1000px) {
    h1 {
        font-size: 36px;
    }
    
    body {
        font-size: 34px;
    }

    input[type='radio'] {
        width: 25px;
        height: 25px;
    }

    .button {
        font-size: 30px;
    }

    .logo-img {
        width: 400px;
        height: 300px;
    }

    .question-content {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media screen and (min-width:1200px) and (min-height:600px) {
    body {
        font-size: 24px;
    }
    
    .buttons {
        font-size: 20px;
    }

    .logo-img {
        width: 300px;
        height: 200px;
        padding: 0;
    }

    input[type='radio'] {
        width: 20px;
        height: 20px;
    }

    .question-content {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .options {
        padding-top: 5px;
        padding-bottom: 0;
    }
    
}

@media screen and (min-width:1200px) and (min-height:800px) {
    h1 {
        font-size: 34px;
    }
    
    body {
        font-size: 32px;
    }
    
    .button {
        font-size: 28px;
    }
    
    .logo-img {
        width: 380px;
        height: 280px;
    }

    .question-content {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media screen and (min-width:1400px) {
    h1 {
        font-size: 40px;
    }
    
    body {
        font-size: 38px;
    }

    input[type='radio'] {
        width: 25px;
        height: 25px;
    }

    .button {
        font-size: 34px;
    }

    .logo-img {
        width: 450px;
        height: 350px;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .question-content {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}